<div id="nav-container">
    <h1 id="title"><a href="/"><i class="far fa-address-book"></i> My Contact List</a></h1>
    <div id="search">
        <form action="/search-contact" method="post">
            <input type="text" name="contact" placeholder="Search..." id="search-input">
            <input type="submit" id="search-button" value="Search">
        </form>
    </div>
</div>