
<div id="add-container">
        <form action='/create-contact' method='POST' id="add-form">
                <div><input name='name' type="text" placeholder="Enter your name" required></div>
                <div><input name='email' type="email" placeholder="Enter your email" required></div>
                <div><input name='phone' type="number" placeholder="Enter your number" required></div>
                <div id="contact-button"><input type="submit" value="Add contact"></div>
        </form>
</div>